body{
    background-color: #5c5447;
    color: #ffffff;
}
h1{
    color:#99c4ee;
}
h3{
    color:#9eb9e3;
}
.yellow{
    color: #ddd984;
}
.red{
    color: red;
}
.italic-style{
    font-style: italic;
}
.bold-style{
    font-weight: 100;
}
.small-img{
    height: 300px;
}
a:link,
a:visited,
a:hover,
a:active
{
    text-decoration: none;
}
p::first-letter{
    font-size: 2em;
}
dl dt {
    color: #ddd984;
}